.homepage {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: center;
	max-width: 80%;
}

.homepage h1 {
	font-size: 4rem;
}

.left {
	align-self: normal;
	text-align: left;
}

.homepage-details {
	width: 60%;
}

.homepage-details h3,
.homepage-details p {
	margin: 0.5rem;
}
